[project]
	description = The all new layers Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrzej Ressel (jereksel)
[access "refs/for/refs/*"]
	read = group user/Andrzej Ressel (jereksel)
	push = group user/Andrzej Ressel (jereksel)
	label-Code-Review = -2..+2 group user/Andrzej Ressel (jereksel)
	label-Verified = -1..+1 group user/Andrzej Ressel (jereksel)
	rebase = group user/Andrzej Ressel (jereksel)
	removeReviewer = group user/Andrzej Ressel (jereksel)
	submit = group user/Andrzej Ressel (jereksel)
[access "refs/heads/*"]
	read = group user/Andrzej Ressel (jereksel)
	create = group user/Andrzej Ressel (jereksel)
	push = +force group user/Andrzej Ressel (jereksel)
	pushMerge = group user/Andrzej Ressel (jereksel)
[access "refs/tags/*"]
	push = +force group user/Andrzej Ressel (jereksel)
	pushTag = group user/Andrzej Ressel (jereksel)
	pushSignedTag = group user/Andrzej Ressel (jereksel)
